#head1{
    border-color:orangered;
    color:orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}
#body{
    background-color: blanchedalmond;
}
#a1{
    color:Orange;
    font-size:50px;
}
#a2{
    color:Orange;
    font-size:50px;
}
#a3{
    color:Orange;
    font-size:50px;
}
#a4{
    color:Orange;
    font-size:50px;
}
#a5{
    color:Orange;
    font-size:50px;
}
#b1{
    background-image: url("Fire.png");
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment:fixed ;
    background-size:cover; 
}

